[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyarrow = "*"
dash = "*"
dash-leaflet = "*"
geopandas = "*"
pandas = "*"
numpy = "*"
plotly = "*"
nbformat = "*"
notebook = "*"
unidecode = "*"
shapely = "*"
folium = "*"

[dev-packages]

[requires]
python_version = "3.11"
